HOST=0.0.0.0
PORT=8080
APP_KEYS=REPLACE_WITH_TWO_RANDOM_SECRETS_COMMA_SEPARATED
API_TOKEN_SALT=REPLACE_WITH_RANDOM_32_CHAR_STRING
ADMIN_JWT_SECRET=REPLACE_WITH_RANDOM_32_CHAR_STRING
TRANSFER_TOKEN_SALT=REPLACE_WITH_RANDOM_32_CHAR_STRING
JWT_SECRET=REPLACE_WITH_RANDOM_32_CHAR_STRING
DATABASE_FILENAME=.tmp/data.db
FRONTEND_URL=http://localhost:3000
